@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --header-hight:3rem;

    /*======== colors ========== */
--hue-color:206;
--black-color:hsl(var(--hue-color),4% , 4%);
--black-color-alt:hsl(var(--hue-color),4% , 8%);
--title-color:hsl(var(--hue-color),4% , 95%);
--text-color:hsl(var(--hue-color),4% , 75%);
--text-color-light:hsl(var(--hue-color),4% , 65%);
--white-color:#fff;
--background-button: rgb(14, 12, 12);
--background-title:#3a3a3a;
--body-color:black;
--container-color:hsl(var(--hue-color),4% , 10%);
--text-gradient:linear-gradient(hsl(var(--hue-color),4% , 8%));
--scrol-thump-color:hsl(var(--hue-color),4% , 16%);
--scrol-thump-color-alt:hsl(var(--hue-color),4% , 20%);
--color-link:rgb(169, 37, 37);

/* ===== font and typography ========= */
--body-font:"Poppins", sans-serif;
--biggest-font-size:5rem;
--bigger-font-size:3.5rem;
--big-font-size:2.5rem;
--h2-font-size:1.25rem;
--h3-font-size:1.125rem;
--normal-font-size:.938rem;
--small-font-size:.813rem;
--smaller-font-size:.75rem;
--text-line-hight:2rem;

/* ===== font weight ======== */
--font-midium:500;
--font-semi-bold:600;

/* ===== margin bottom */
--mb-0-5:.5rem;
--mb-0-75:.75rem;
--mb-1:1rem;
--mb-1-5:1.5rem;
--mb-2:2rem;
--mb-2-5:2.5rem;

/* ===== z-index ===== */
--z-tooltip:10;
--z-fixed:100;

}

@media screen and (min-width:968px) {
    :root{
        --biggest-font-size:7.5rem;
        --bigger-font-size:4.5rem;
        --big-font-size:4rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
        --smaller-font-size:.813rem;
            
    }
}

/* === Base ===== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    
}

body{
    margin: var(--header-hight) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color:var(--body-color);
    color: var(--text-color);
    height: 2000px;
}

h1,h2,h3{
    color: var(--title-color);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    
}

/* == logo img === */
/* a,img{
    width: 15%;
} */

button,
input{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}

img{
    max-width: 100%;
    height: auto;
}

/* ==== CLASSES CSS ===== */

.section{
    padding: 4rem 0 2rem;
}

.section__title{
    font-size:var(--bigger-font-size);
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.section__title-gradient{
    background: var(--text-gradient);
    color: var(--background-title);
    -webkit-background-clip: text;
    background-clip: text;
}

/* ===== LAYOUT ======= */
.main{
    overflow: hidden;
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
}

/* === header === */

.header{
    position: fixed;
    top: 0;
    left: 00;
    width: 100%;
    z-index: var(--z-fixed);
    background: transparent;
}

/* === NAV === */
.nav{
    height: var(--header-hight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
    width: 2.5rem;
}

.nav__toggle{
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer;
}

.nav__toggle,
.nav__close{
    display: none;
}

.nav__menu{
     display: flex;
     gap: 2rem;
 }

@media screen and (max-width:767px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding: 4rem 0 3rem;   
        transition: 0.5s;  
        display: block;
       
    }
     .nav__list{
        flex-direction: column;
        row-gap: 1rem;
    }
    .nav__toggle,
    .nav__close{
        display: block;
    }
}




.nav__list{
    display: flex;
    gap: 2rem;
    align-items: center;
    
}

/* .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;

} */

.nav__link{
    color: #fff;
    font-family:var(--body-font);
    transition: 0.5s ease;
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
   

    
}

.nav__link:hover{
    color:var(--color-link);
    font-size: 1.5rem;
}

.nav__close{
    position: absolute;
    font-size: 1rem;
    top: 1rem;
    right: 1rem;
    color:var(--white-color);
    cursor: pointer;
}

/* == show menu ==   */
.show-menu{
    top: 0;
}

/* == change background header == */
.scroll_header{
    background-color: black;
}

/* ===== home content ========== */


.home__img{
    width: 300px;
    position: absolute;
    top: -10rem;
    right: 1.5rem;

    
}

.home__data{
    position: relative;
    padding-top: 5rem;
    padding-left:1.5rem ;
    z-index: 1;
    
    
}

.home__header{
    position: relative;
}

.home__title{
    font-size: var(--biggest-font-size);
    /* background: var(--text-gradient); */
    /* -webkit-background-clip: text; */
    position: absolute;
    /* color: transparent; */
    /* background-clip: text; */
    color: var(--background-title);
    top:-5.5rem;
    left: 1rem;
    line-height: 6rem;
}

.home__subtitle{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2-5);
    padding-left: 1.5rem;
}

.home__title-description{
    margin-bottom: var(--mb-1);
    font-size: var(--h3-font-size);
    font-weight: var(--font-midium);
}

.home__description{
    margin-bottom: var(--mb-2-5);
    line-height: var(--text-line-hight);
}

.home__price{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: var(--mb-0-75);
}

.button{
    color: white;
    background-color:var(--background-button);
    display: inline-block;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    transition: 0.5s;   
}

.button:hover{
    background-color: #511414;
    font-size: 1rem;
}

.button__icon{
    font-size: 1.25rem;
}

.button-flex{
    display: inline-flex;
    align-items: center;
    column-gap: 0.75rem;
}

/* === sponser ==== */



.sponser__container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;  
      
}

.sponser__img {
    width: 90px;
    height: auto;
    filter: grayscale(1); 
    opacity: 0.7;
}


@media (max-width: 768px) {
    .sponser__container {
        justify-content: center; 
        gap: 4rem;
    }
}
@media (max-width: 1024px) {
    .sponser__container {
        justify-content: center;
    }
}








/* .sponser__img{
    width: 90px;
   
}

.sponser__container{
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    row-gap: 4rem;
    justify-content: center;
}

@media (max-width: 768px){
    .sponser__container{
        grid-template-columns: repeat(2, 1fr); 
        row-gap: 2rem;
    }
}


.sponser{
    display: flex;
    justify-content: center;
} */

/* ============== Specs ============= */

.specs__container{
    position: relative;
}

.specs__content{
    row-gap: 1.5rem;
}

.specs__data{
    display: grid;
    row-gap: 0.25rem;
}

.specs__icon{
    font-size: 1.2rem;
    color: var(--white-color);
}

.specs__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-midium);
}

.specs__subtitle{
    font-size: var(--smaller-font-size);   
}

.specs__data:nth-child(1),
.specs__data:nth-child(4){
    margin-left: var(--mb-1-5);
}

.specs__img{
    width: 300px;
    position: absolute;
    top:2rem;
    right: -6rem;

    
}